<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog|}}
	<div class='mb-4 blog'>
		<div class=''>
			<h3>
				<!-- Call helper function with triple brackets to render the emoji span as HTML -->
				<a href='/blog/{{blog.id}}'>{{blog.name}}</a>
			</h3>

			<p>Created by
				{{blog.user.name}}
				on
				{{format_date blog.date_created}}</p>
		</div>
		<div class='description'>
			<p>
				{{blog.description}}
			</p>
		</div>
	</div>
{{/each}}